.nav{
    grid-area:nav;
    background: linear-gradient(45deg, rgb(161, 92, 138), rgb(47, 84, 25), rgb(21, 18, 20));
}
.link{
    font-size: 22px;
    color: #fff;
    text-decoration: none;
}
li {
    list-style-type: none;
}